@charset "UTF-8";
/*
 * Main CSS File
 * Merges all .scss files (in the desired order) before they're processed by gulp.
 * To add vendors, use gulp-vendors.json.
 *
 * @author      Flurin Dürst
 * @version     1.9.0
 * @since       WPSeed 0.1
 *
 */
/*==================================================================================
  PRESETS/ASSETS
==================================================================================*/
/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.2.0
  * @since      WPSeed 0.1
  *
  */
/*==================================================================================
  SCALING
==================================================================================*/
/* to do:
/* add option to scale  by viewport-width (using html-font-size-rem, as it currently is)
/* or via fixed breakpoints (also using html-font-size-rem. = VSA)

/*==================================================================================
  COLORS
==================================================================================*/
/* Presets
/––––––––––––––––––––––––*/
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* HTML
/––––––––––––––––––––––––*/
/* BODY
/––––––––––––––––––––––––*/
/* NAV
/––––––––––––––––––––––––*/
/* ANCHORS
/––––––––––––––––––––––––*/
/*==================================================================================
  TRANSITIONS
==================================================================================*/
/*==================================================================================
  SHADOWS
==================================================================================*/
/**
 * Essentials
 *
 * contains
 * - responsive/fluid mixins
 * - general SASS functions
 * - preset-classes and reusable containers
 *
 * Normally, you don't have to change anything here.
 *
 * @author      Flurin Dürst
 * @version     1.2.0
 * @since       WPSeed 0.13
 *
 */
/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 Responsive Mixins
  2.0 General SASS-Functions
  3.0 Presets, Sanitizing
=======================================================*/
/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.2.0
  * @since      WPSeed 0.1
  *
  */
/*==================================================================================
  SCALING
==================================================================================*/
/* to do:
/* add option to scale  by viewport-width (using html-font-size-rem, as it currently is)
/* or via fixed breakpoints (also using html-font-size-rem. = VSA)

/*==================================================================================
  COLORS
==================================================================================*/
/* Presets
/––––––––––––––––––––––––*/
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* HTML
/––––––––––––––––––––––––*/
/* BODY
/––––––––––––––––––––––––*/
/* NAV
/––––––––––––––––––––––––*/
/* ANCHORS
/––––––––––––––––––––––––*/
/*==================================================================================
  TRANSITIONS
==================================================================================*/
/*==================================================================================
  SHADOWS
==================================================================================*/
/*==================================================================================
  1.0 RESPONSIVE MIXINS
==================================================================================*/
/* BY BREAKPOINTS
/––––––––––––––––––––––––*/
/* BY PIXELS
/––––––––––––––––––––––––*/
/* BY ASPECT RATIO
/––––––––––––––––––––––––*/
/* BY CLASS
/––––––––––––––––––––––––*/
@media (min-width: 800px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 799px) {
  .desktop {
    display: none;
  }
}

/*==================================================================================
  2.0 GENERAL SASS-FUNCTIONS
==================================================================================*/
/* STRIP UNIT
/––––––––––––––––––––––––*/
/*==================================================================================
  3.0 PRESETS, SANITIZING
==================================================================================*/
/* PRESETS
/––––––––––––––––––––––––*/
.noscroll {
  overflow: hidden;
}

.dn {
  display: none !important;
}

.db {
  display: block !important;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.shown {
  opacity: 1 !important;
  pointer-events: all !important;
}

html[data-touch=false] .taplink {
  pointer-events: none;
  cursor: none;
}

/* ADDITIONAL SANITIZING
/––––––––––––––––––––––––*/
:focus {
  outline: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Asap", sans-serif;
}

table {
  border-collapse: collapse;
}

/**
 * FONTS
 * Contains all fonts that need to be hosted locally.
 * » http://google-webfonts-helper.herokuapp.com/fonts (=> make sure paths start with 'fonts/' instead of '../fonts')
 *
 * @author      Flurin Dürst
 * @version     1.1.0
 * @since       WPSeed 1.3.8
 *
 */
/*==================================================================================
  ASAP
==================================================================================*/
/* asap-regular - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local("Asap Regular"), local("Asap-Regular"), url("fonts/asap-v7-latin-regular.woff2") format("woff2"), url("fonts/asap-v7-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* asap-500 - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  src: local("Asap Medium"), local("Asap-Medium"), url("fonts/asap-v7-latin-500.woff2") format("woff2"), url("fonts/asap-v7-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* asap-700 - latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: local("Asap Bold"), local("Asap-Bold"), url("fonts/asap-v7-latin-700.woff2") format("woff2"), url("fonts/asap-v7-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*==================================================================================
  SITE STYLES
==================================================================================*/
/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 * @author      Flurin Dürst
 * @version     1.13.0
 * @since       WPSeed 0.1
 *
 */
/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.2.0
  * @since      WPSeed 0.1
  *
  */
/*==================================================================================
  SCALING
==================================================================================*/
/* to do:
/* add option to scale  by viewport-width (using html-font-size-rem, as it currently is)
/* or via fixed breakpoints (also using html-font-size-rem. = VSA)

/*==================================================================================
  COLORS
==================================================================================*/
/* Presets
/––––––––––––––––––––––––*/
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* HTML
/––––––––––––––––––––––––*/
/* BODY
/––––––––––––––––––––––––*/
/* NAV
/––––––––––––––––––––––––*/
/* ANCHORS
/––––––––––––––––––––––––*/
/*==================================================================================
  TRANSITIONS
==================================================================================*/
/*==================================================================================
  SHADOWS
==================================================================================*/
/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  font-size: 2vw;
  color: #505050;
  background-color: #F7F7F7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 799px) {
  html {
    font-size: 4.4vw;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

@media (max-width: 799px) {
  body {
    font-size: 1.3rem;
  }
}

/*==================================================================================
  PRESETS
==================================================================================*/
/* default for wowjs
/––––––––––––––––––––––––*/
.wow {
  visibility: hidden;
}

/* Fixes/Hacks
/––––––––––––––––––––––––*/
.anchor {
  display: block;
  height: 4rem;
  margin-top: -4rem;
}

/* Animation Presets
/––––––––––––––––––––––––*/
/* Animations
/––––––––––––––––––––––––*/
.ani-0-2 {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.ani-2-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.ani-4-2 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.ani-6-2 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.ani-8-2 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.ani-10-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.ani-0-4 {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.ani-2-4 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.ani-4-4 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.ani-6-4 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.ani-8-4 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.ani-10-4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
}

.ani-0-6 {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.ani-2-6 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.ani-4-6 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.ani-6-6 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.ani-8-6 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.ani-10-6 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.ani-0-8 {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.ani-2-8 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.ani-4-8 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.ani-6-8 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.ani-8-8 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.ani-10-8 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.ani-0-10 {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.ani-2-10 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.ani-4-10 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.ani-6-10 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.ani-8-10 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.ani-10-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/**
 * Content CSS File
 * Contains all content related styles.
 *
 * @author      Flurin Dürst
 * @version     3.0.2
 * @since       WPSeed 0.1
 *
 */
/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 1.0 GENERAL
 2.0 TYPO
 3.0 GUTENBERG BLOCKS
=======================================================*/
/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.2.0
  * @since      WPSeed 0.1
  *
  */
/*==================================================================================
  SCALING
==================================================================================*/
/* to do:
/* add option to scale  by viewport-width (using html-font-size-rem, as it currently is)
/* or via fixed breakpoints (also using html-font-size-rem. = VSA)

/*==================================================================================
  COLORS
==================================================================================*/
/* Presets
/––––––––––––––––––––––––*/
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* HTML
/––––––––––––––––––––––––*/
/* BODY
/––––––––––––––––––––––––*/
/* NAV
/––––––––––––––––––––––––*/
/* ANCHORS
/––––––––––––––––––––––––*/
/*==================================================================================
  TRANSITIONS
==================================================================================*/
/*==================================================================================
  SHADOWS
==================================================================================*/
/*==================================================================================
  1.0 GENERAL
==================================================================================*/
/* Anchors
/––––––––––––––––––––––––*/
a {
  color: #505050;
  -webkit-text-decoration: "none";
          text-decoration: "none";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #505050;
}

/* Vertical Spacing
/––––––––––––––––––––––––*/
article > p,
article > ul,
article > figure,
article > blockquote,
article > .wp-block-button,
article > .wp-block-cover,
article > .wp-block-file,
article > .wp-block-columns .wp-block-column p,
.wp-block-wpseed-container > p,
.wp-block-wpseed-container > ul,
.wp-block-wpseed-container > figure,
.wp-block-wpseed-container > blockquote,
.wp-block-wpseed-container > .wp-block-button,
.wp-block-wpseed-container > .wp-block-cover,
.wp-block-wpseed-container > .wp-block-file,
.wp-block-wpseed-container > .wp-block-columns .wp-block-column p {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: .5rem;
}

h2 {
  margin-bottom: 0;
}

/*==================================================================================
  2.0 TYPO
==================================================================================*/
h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-weight: 400;
}

p b,
p strong {
  font-weight: 700;
}

main ul {
  margin-left: 1rem;
  padding-left: 1rem;
}

/*==================================================================================
  3.0 GUTENBERG BLOCKS
==================================================================================*/
/* Container
/––––––––––––––––––––––––*/
.wp-block-wpseed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* Image Blocks
/––––––––––––––––––––––––*/
.wp-block-image img {
  width: 100%;
}

.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.alignwide {
  margin-right: calc(25% - 25vw);
  margin-left: calc(25% - 25vw);
}

/* Cover Blocks
/––––––––––––––––––––––––*/
.wp-block-cover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20rem;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.wp-block-cover::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: .3;
  content: '';
}

.wp-block-cover .wp-block-cover-text {
  z-index: 1;
  max-width: 50%;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: left;
}

/* Columns
/––––––––––––––––––––––––*/
.wp-block-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 799px) {
  .wp-block-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wp-block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - .5rem);
}

@media (min-width: 800px) {
  .wp-block-column:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 799px) {
  .wp-block-column {
    width: 100%;
    margin-right: 0;
  }
}

/* Separator
/––––––––––––––––––––––––*/
hr.wp-block-separator {
  width: 20%;
  margin: 1rem auto;
}

hr.wp-block-separator.is-style-wide {
  width: 100%;
}

hr.wp-block-separator.is-style-dots {
  max-width: none;
  height: auto;
  text-align: center;
  line-height: 1;
  background: 0 0;
  border: none;
}

hr.wp-block-separator.is-style-dots:before {
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1rem;
  content: '\00b7 \00b7 \00b7';
}

/* Quote
/––––––––––––––––––––––––*/
.wp-block-quote {
  padding-left: .5rem;
  border-left: 0.2rem solid #505050;
}

.wp-block-quote cite {
  font-size: .8rem;
  font-style: normal;
  opacity: .6;
}

/* Button
/––––––––––––––––––––––––*/
.wp-block-button {
  color: #F7F7F7;
}

.wp-block-button.aligncenter {
  text-align: center;
}

.wp-block-button.alignright {
  text-align: right;
}

.wp-block-button.alignleft {
  text-align: left;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  color: #505050;
  background-color: transparent;
  border: 2px solid #505050;
}

.wp-block-button .wp-block-button__link {
  display: inline-block;
  margin: 0;
  padding: .5rem 1rem;
  font-size: 18px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: #505050;
  border: none;
  border-radius: .5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  white-space: normal;
  overflow-wrap: break-word;
}

.wp-block-button .wp-block-button__link:hover {
  text-decoration: none;
  background: #92c947;
}

/* Download
/––––––––––––––––––––––––*/
.wp-block-file a:first-of-type {
  display: none;
}

/**
 * Compatibility
 *
 * contains rules (and maybe hacks) that ensure compatibility with older browsers or specific devices
 * add your own rules/classes here
 *
 * @author      Flurin Dürst
 * @version     1.1.0
 * @since       WPSeed 2.0.5
 *
 */
/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.2.0
  * @since      WPSeed 0.1
  *
  */
/*==================================================================================
  SCALING
==================================================================================*/
/* to do:
/* add option to scale  by viewport-width (using html-font-size-rem, as it currently is)
/* or via fixed breakpoints (also using html-font-size-rem. = VSA)

/*==================================================================================
  COLORS
==================================================================================*/
/* Presets
/––––––––––––––––––––––––*/
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* HTML
/––––––––––––––––––––––––*/
/* BODY
/––––––––––––––––––––––––*/
/* NAV
/––––––––––––––––––––––––*/
/* ANCHORS
/––––––––––––––––––––––––*/
/*==================================================================================
  TRANSITIONS
==================================================================================*/
/*==================================================================================
  SHADOWS
==================================================================================*/
/*==================================================================================
  1.0 RESPONSIVE MIXINS
==================================================================================*/
/* OBJECT-FIT (Modernizr)
/––––––––––––––––––––––––*/
img.modernizr-of {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*==================================================================================
  2.0 BROWSER HACKS
==================================================================================*/
/**
 * Structure CSS File
 * Contains everything that is not related to the content itself like
 * header, footer and main navigations
 *
 * @author      Flurin Dürst
 * @version     1.0.3
 * @since       WPSeed 2.0.8
 * was part of 'content.css' and `nav.scss` before WPSeed 2.0.6
 *
 */
/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.2.0
  * @since      WPSeed 0.1
  *
  */
/*==================================================================================
  SCALING
==================================================================================*/
/* to do:
/* add option to scale  by viewport-width (using html-font-size-rem, as it currently is)
/* or via fixed breakpoints (also using html-font-size-rem. = VSA)

/*==================================================================================
  COLORS
==================================================================================*/
/* Presets
/––––––––––––––––––––––––*/
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* HTML
/––––––––––––––––––––––––*/
/* BODY
/––––––––––––––––––––––––*/
/* NAV
/––––––––––––––––––––––––*/
/* ANCHORS
/––––––––––––––––––––––––*/
/*==================================================================================
  TRANSITIONS
==================================================================================*/
/*==================================================================================
  SHADOWS
==================================================================================*/
/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER
  3.0 FOOTER
  4.0 NAVIGATION
=======================================================*/
/*==================================================================================
  1.0 GENERAL
==================================================================================*/
/* Containers
/––––––––––––––––––––––––*/
main {
  position: relative;
  width: 100vw;
  margin-top: 4rem;
}

@media (max-width: 799px) {
  main {
    margin-top: 4rem;
  }
}

main article {
  padding: 1rem 0;
}

article,
nav,
footer .inner {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 799px) {
  article,
  nav,
  footer .inner {
    width: 90vw;
  }
}

/*==================================================================================
  2.0 HEADER
==================================================================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 4rem;
  background-color: #F2F2F2;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header nav .logo  {
  width: 12rem;
  height: 3rem;
  margin-right: 2rem;
  background-image: url("images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  header nav .logo  {
    background-image: url("images/logo_simplified.svg");
  }
}

@media (max-width: 1000px) {
  header nav .logo  {
    background-image: url("images/logo_minimal.svg");
  }
}

@media (max-width: 799px) {
  header nav .logo  {
    background-image: url("images/logo_simplified.svg");
  }
}

/*==================================================================================
  3.0 FOOTER
==================================================================================*/
footer {
  width: 100vw;
  margin-top: auto;
  color: #F2F2F2;
  background: #505050;
}

footer .inner {
  padding: 1.5rem 0;
  font-size: .8rem;
}

/*==================================================================================
  4.0 NAVIGATION
==================================================================================*/
/* GENERAL
/––––––––––––––––––––––––*/
nav {
  font-size: 1rem;
  font-weight: 700;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

nav li a {
  color: #505050;
}

nav li a:hover {
  color: #92c947;
}

nav li.current_page_item, nav li.current_page_parent, nav li.current-page-ancestor,
nav li.current_page_item > a,
nav li.current_page_parent > a,
nav li.current-page-ancestor > a {
  color: #92c947;
}

nav li + li:before {
  padding: 0 .8rem;
  color: #505050;
  content: ' | ';
}

/* DESKTOP
/––––––––––––––––––––––––*/
@media (min-width: 800px) {
  #hamburger {
    display: none;
  }
}

/* MOBILE
/––––––––––––––––––––––––*/
@media (max-width: 799px) {
  header #hamburger {
    position: relative;
    z-index: 260;
    display: block;
    height: 28px;
    cursor: pointer;
  }
  header #hamburger.is-active {
    z-index: 300;
  }
  header #hamburger .hamburger-box {
    width: 35px;
  }
  header #hamburger .hamburger-box .hamburger-inner,
  header #hamburger .hamburger-box .hamburger-inner:before,
  header #hamburger .hamburger-box .hamburger-inner:after {
    width: 35px;
    height: 4px;
    background-color: #505050;
    border-radius: 1px;
  }
  ul#menu_main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding-top: 4rem;
    background-color: white;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
    pointer-events: initial;
  }
  ul#menu_main.hidden_mobile {
    opacity: 0;
    pointer-events: none;
  }
  ul#menu_main li {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    list-style-type: none;
  }
  ul#menu_main li + li:before {
    padding: 0;
    content: '';
  }
}
/*# sourceMappingURL=bundle.css.map */